:root{
    font-family:sans-serif;
    --maincolor : color    
}
.logo{

}
.logo span{
    font-family: 'Gill Sans', 'Gill Sans MT';
    color: black;
    text-shadow: 0.1px 0.1px ;
    
}

nav{
    width: 1020px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.2);
    
}
.navitems ,.loginsignup{
    width: auto;
    display: flex;
    flex-direction: row;
    list-style: none;   

}
.navitems ,.loginsignup li{
    margin: 20px;
}